
.add_item{
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 45pt;
    text-align: center;
    position: fixed;
    bottom: 15%;
    right: 10%;

}

.avatar-zone, .output_image{
    width:250px;
    height:250px;
}
.overlay-layer{
    width:250px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.5;
    background-color:#000000;
    z-index:0;
    font-size:25px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
}
.upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

body{
background: url("/images/p4.jpg"); no-repeat center center;
background-size: cover;
}

.nav-link:hover{
    color: white;
    border-bottom: 2px solid white;
}

#nav-link{
    color: white;
}

.title{
    font-family: 'Kaushan Script', cursive;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 5em;
     text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 2px 0 #000,
       2px 1px 0 #000;

}

.nav-link{
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 1.5em;
}

.carousel-caption{
    background: rgba(12, 25, 38, 0.50);
}

.table-des{
  background-color: rgba(12, 2, 2, 0.70);
  color: white;
  border-radius: 1rem;
}

hr{
    background: white;
}


.card{
  background-color: rgba(12, 2, 2, 0.70);
  color: white;
  border-radius: 1rem;
  width: 100%;
}

.card-body .card-text {
  background: $dark2;
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    border: 1rem solid transparent;
    border-right: 1.25rem solid $dark2;
  }
}



.navbar-laravel {
    background-color: rgba(12, 2, 2, 0.70);
    color: white;

}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.modal-content{
    background-color: rgba(12, 2, 2, 0.90);
  color: white;
  border-radius: 1rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white
}

a{
    color: white
}
